{% extends 'base.html' %}
{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
    <div class="col-sm-9">
        <div class="blog-post-area">
            <h2 class="title text-center">Latest From our Blog</h2>
            <div class="single-blog-post">
                <h3>{{ blog.title }}</h3>
                <div class="post-meta">
                    <ul>
                        <li><i class="fa fa-user"></i>{{ blog.author }}</li>
                        <li><i class="fa fa-clock-o"></i> {{ blog.created_at }}</li>
                    </ul>
                    <span>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
                <a href="">
                    <img src="{{ blog.img.url }}" alt="">
                </a>
                <p>{{ blog.text }}</p>
                <a class="btn btn-primary" href="">Read More</a>
            </div>
        </div>
    </div>
{% endblock %}